{% extends "baseAuth.htlm.twig" %}

{% block body %}

    <div class="divTitle">
        <img class="imgTitle" src="{{asset('assets/images/jdrpkmn.png')}}" alt="boutton d'inscription">
        <br>
        <h4>Le jeu de rôle Pokémon en ligne</h4>
        <p>Incarnez un dresseur et partez à l'aventure avec vos amis avec votre fidèle ami Pokémon !</p>
        <br>
        <span class="triangle"></span>
    </div>

    <div class="authButton">
        <a href="{{ path('app_register') }}"><img class="signUpBtton" src="{{asset('assets/images/inscr_btn2.png')}}"
                alt="boutton d'inscription"></a>
        <a href="{{ path('app_login') }}"><img class="signInBtton" src="{{asset('assets/images/conne_btn2.png')}}"
                alt="bouton de connexion"></a>
    </div>


    {% endblock %}