{% extends "base.html.twig" %}

{% block body %}

	<div class="divTitle divPokemon">

		<div class="pokemon_detail">
			<img id="profil_img" src="{{asset('assets/images/sprites-pokemon/'~ pokemon.number ~'.png')}}" class="card-img-top" alt="{{ pokemon.name }}">

			<h3>{{ pokemon.name }} :
				{% for type in pokemon.types %}
					<span style="color:#{{ type.color }}">{{type.name}}</span>
				{% endfor %}
			</h3>
      		

			<div class="stats">
				<h3>Statistiques</h3>
				<ul>
					<li>HP :
						{{pokemon.vitality}}</li>
					<li>Force :
						{{pokemon.strength}}</li>
					<li>Endurance :
						{{pokemon.endurance}}</li>
					<li>Concentration :
						{{pokemon.concentration}}</li>
					<li>Volonté :
						{{pokemon.willpower}}</li>
					<li>Dextérité :
						{{pokemon.dexterity}}</li>
				</ul>


			</div>
			<a href="{{ path('list_pokemon') }}">Retour à la liste des Pokémon</a>


		</div>

	{% endblock %}
