{% extends "base.html.twig" %}

{% block body %}

<h2>Détails de {{pokemon.name}}</h2>

<div class="card" style="width: 25rem;">
    <img src="{{asset('assets/images/sprites-pokemon/'~ pokemon.number ~'.png')}}" class="card-img-top" alt="{{pokemon.name}}">
    <div class="card-body">

      <p> HP </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.vitality}}%;"  aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p> Force </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.strength}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p> Endurance </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.endurance}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p> Concentration </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.concentration}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p> Volonté </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.willpower}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p> Dexterité </p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{pokemon.dexterity}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

     

      

    </div>

    </div>
  </div>
{% endblock %}