{% extends "base.html.twig" %}

{% block body %}


<div class="container-fluid">
	<div class="ligne">
		<div class="card row-card">
			<div class="card-header">
				<span>Liste des parties en cours</span>
				<span><a href="{{ path('game_create')}}" class="createButton">Créer</a></span>
			</div>
			<div class="list-group-game list-group-flush">
				{% for game in games %}
					<div class="list-group-game-item">
						<span>Partie de {{game.mj}}</span>
						<span>
							<a href="{{ path('game_board', {'port' : game.port})}}" class="joinButton">Rejoindre</a>
						</span>
						{# <span>
							<a href="{{ path('game_mj_delete', {'port' : game.port})}}" class="myButton">Supprimer</a>
						</span> #}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="card row-card row-card-trainer">
			<img id="profil_img_gameboard" src="{{asset('assets/images/'~ app.user.avatar.name ~'.png')}}" class="card-img-top" alt="...">
			<h2>
				Bonjour
				<span id="nickname_gameboard">{{app.user.nickname}}</span> !</br>
				Bienvenue dans le jdr de Pokemon !</h2>
			<p>
				Nous te souhaitons de passer de bonnes parties de Jeu de Rôles en notre compagnie !
			</p>
			<p id="question">Une question ? Contacte l'équipe du site en cliquant sur ce
				<a href="{{ path('team')}}">lien
				</a>.</p>
		</div>
	</div>
</div>{% endblock %}
