{% extends "base.html.twig" %}

{% block body %}

	<div class="divTitle divTrainer">

		<div class="trainer_detail">
			<img id="profil_img" src="{{asset('assets/images/'~ trainer.name ~'.png')}}" class="card-img-top" alt="{{ trainer.name }}">

			<h3>{{ trainer.name }},
				{{ trainer.age }}
				ans.</h3>
			<p>{{ trainer.background }}</p>

			<div class="stats">
				<h3>Statistiques</h3>
				<ul>
					<li>HP : {{trainer.vitality}}</li>
					<li>Force : {{trainer.strength}}</li>
					<li>Endurance : {{trainer.endurance}}</li>
					<li>Concentration : {{trainer.concentration}}</li>
					<li>Volonté : {{trainer.willpower}}</li>
					<li>Dextérité : {{trainer.dexterity}}</li>
				</ul>

			</div>
      <a href="{{ path('list_trainer') }}">Retour à la liste des dresseurs</a>


		</div>

	{% endblock %}
